# Load Test Report

## Endpoint: /pessoa/items
- **Http Method:** GET
- **Total Requests:** 500
- **Success:** 500
- **Errors:** 0
- **Rate of Success:** 100%
- **Total Time:** 140.80 ms

## Endpoint: /pessoa/items
- **Http Method:** POST
- **Total Requests:** 500
- **Success:** 500
- **Errors:** 0
- **Rate of Success:** 100%
- **Total Time:** 170.95 ms

## Endpoint: /pessoa/items/1
- **Http Method:** PUT
- **Total Requests:** 500
- **Success:** 500
- **Errors:** 0
- **Rate of Success:** 100%
- **Total Time:** 138.20 ms

## Endpoint: /pessoa/items/1
- **Http Method:** DELETE
- **Total Requests:** 500
- **Success:** 500
- **Errors:** 0
- **Rate of Success:** 100%
- **Total Time:** 147.07 ms

