# Load Test Report

## Endpoint: /pessoa/items
- **Http Method:** GET
- **Total Requests:** 500
- **Success:** 500
- **Errors:** 0
- **Rate of Success:** 100%
- **Total Time:** 182.13 ms

## Endpoint: /pessoa/items
- **Http Method:** POST
- **Total Requests:** 500
- **Success:** 500
- **Errors:** 0
- **Rate of Success:** 100%
- **Total Time:** 158.53 ms

## Endpoint: /pessoa/items/1
- **Http Method:** PUT
- **Total Requests:** 500
- **Success:** 500
- **Errors:** 0
- **Rate of Success:** 100%
- **Total Time:** 167.22 ms

## Endpoint: /pessoa/items/1
- **Http Method:** DELETE
- **Total Requests:** 500
- **Success:** 500
- **Errors:** 0
- **Rate of Success:** 100%
- **Total Time:** 165.77 ms

