# Load Test Report

## Endpoint: /pessoa/items
- **Http Method:** GET
- **Total Requests:** 500
- **Success:** 500
- **Errors:** 0
- **Rate of Success:** 100%
- **Total Time:** 1,312.06 ms

## Endpoint: /pessoa/items
- **Http Method:** POST
- **Total Requests:** 500
- **Success:** 500
- **Errors:** 0
- **Rate of Success:** 100%
- **Total Time:** 236.11 ms

## Endpoint: /pessoa/items/1
- **Http Method:** PUT
- **Total Requests:** 500
- **Success:** 500
- **Errors:** 0
- **Rate of Success:** 100%
- **Total Time:** 192.57 ms

## Endpoint: /pessoa/items/1
- **Http Method:** DELETE
- **Total Requests:** 500
- **Success:** 500
- **Errors:** 0
- **Rate of Success:** 100%
- **Total Time:** 228.00 ms

